body{
    margin: 0px;
    padding: 0px;
    background-color: tomato;
}
#box{
    width: 250px;
    height: 350px;
    background-color:white;
    border:5px solid black;
    padding: 50px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 1;
}
#box:hover{
    cursor: wait;
}
#box #minion{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#eye{
    width: 100px;
    height: 100px;
    font-size: 100px;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top:18%;
    left: 40.6%;
}